.header-cards {
  position: relative;
  top: -75px;
  margin: 0 20px;
  .container-sm {
    max-width: 1140px;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    *:first-child {
      border-left: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    *:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
 
  .card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 190px;
    height: 140px;
    margin: 0;
    padding: 10px 16px;
    box-shadow: none;
    border-radius: 0;
    border-left: 2px solid #f4f4f4;
    transition: 0.1s ease-in;
    cursor: pointer;
    &:hover {
      background-color: var(--light-color);
    }
  }
  i {
    font-size: 34px;
    color: #ec0000;
  }
  a {
    font-size: 15px;
  }
}
@media (max-width: 1024px) {
  .header-cards {
    .flex {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 0;
    }
    .card {
      width: 100%;
      height: 90px;
      padding: 15px 5px;
      i{
        font-size: 28px;
        margin-bottom: 10px;
      }
      a {
        font-size: 13px;
      }

    }
    .container-sm {
      *:first-child {
        border-left: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 0;
      }
      *:last-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 5px;
      }
      *:nth-child(4),
      *:nth-child(5),
      *:nth-child(6) {
        border-top: 1px solid #eee;
      }
      *:nth-child(3) {
        border-top-right-radius: 5px;
      }
      *:nth-child(4) {
        border-left: 0;
        border-bottom-left-radius: 5px;
      }
    }
  }
}